body {
    background-color: lightblue; /* Set the background color to light blue */
}

input[type="submit"] {
    background-color: blue; /* Set the background color of the submit button to blue */
    color: white; /* Set the text color of the submit button to white */
    padding: 10px 20px; /* Add padding to the submit button */
    border: none; /* Remove border from the submit button */
    cursor: pointer; /* Change cursor to pointer when hovering over the submit button */
}

input[type="submit"]:hover {
    background-color: darkblue; /* Change background color of submit button on hover */
}
   /* background-image:  */
